<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jsonp-1.1</feature>
    <feature>cdi-2.0</feature>
    <feature>cloudant-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>beanValidation-2.0</feature>

    <!-- tag::mpConfig[] -->
    <feature>mpConfig-1.4</feature>
    <!-- end::mpConfig[] -->
    <!-- tag::mpConfig[] -->
    <feature>mpConfig-1.4</feature>
    <!-- end::mpConfig[] -->
    <!-- tag::mpConfig[] -->
    <feature>mpConfig-1.4</feature>
    <!-- end::mpConfig[] -->
    <!-- tag::mpRestClient[] -->
    <feature>mpRestClient-1.4</feature>
    <!-- end::mpRestClient[] -->
  </featureManager>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>
  
  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}"
                id="defaultHttpEndpoint"/>

<!--IBM Cloud Object Storage -->
  <jndiEntry jndiName="cos/endpoint" value='"https://s3-api.us-geo.objectstorage.softlayer.net"' />
  <jndiEntry jndiName="cos/location" value='"https://s3-api.us-geo.objectstorage.softlayer.net"' />
  <jndiEntry jndiName="cos/api-key" value='"https://s3-api.us-geo.objectstorage.softlayer.net"' />
  <jndiEntry jndiName="cos/service-instance-id" value='"https://s3-api.us-geo.objectstorage.softlayer.net"' />

  <!-- IBM nosql Cloudant database  -->
  <jndiEntry jndiName="cos/endpoint" value='"https://s3-api.us-geo.objectstorage.softlayer.net"' />
  <jndiEntry jndiName="cos/location" value='"https://s3-api.us-geo.objectstorage.softlayer.net"' />
  <jndiEntry jndiName="cos/api-key" value='"https://s3-api.us-geo.objectstorage.softlayer.net"' />
  <jndiEntry jndiName="cos/service" value='"https://s3-api.us-geo.objectstorage.softlayer.net"' />


  <webApplication location="sia-microprofile-test-client.war" contextRoot="/"/>
</server>