<server>

    <featureManager>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
<!--        <feature>servlet-3.1</feature>-->
<!--        <feature>websocket-1.1</feature>-->
        <feature>mpRestClient-1.4</feature>

    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint"/>

<!--    <httpEndpoint id="defaultHttpEndpoint"-->
<!--                  host="*"-->
<!--                  httpPort="9080">-->
<!--        <tcpOptions soReuseAddr="true"/>-->
<!--    </httpEndpoint>-->

<!--    <application name="GetStartedLiberty" context-root="/" location="${appLocation}" type="war"/>-->
    <webApplication location="GetStartedLiberty.war" contextRoot="/"/>

</server>